click==8.1.7
colorama==0.4.6
joblib==1.4.2
json-stream==2.3.2
json-stream-rs-tokenizer==0.4.26
mysql-connector-python==8.4.0
nltk==3.8.1
numpy==1.26.4
regex==2024.4.28
scikit-learn==1.5.0
scipy==1.13.1
threadpoolctl==3.5.0
tqdm==4.66.4
